<%= render "shared/header" %>
<h1>Users#show</h1>
<p>ニックネーム : <%= @user.nickname %></p>
<p>メールアドレス : <%= @user.email %></p>
<%= render "shared/follow_button", user: @user%> 
<%= render "shared/footer" %>