<%= render "shared/header" %>

<%= form_with(url: search_users_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "ユーザーを検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<h1>Users#show</h1>
<p>ニックネーム : <%= @user.nickname %></p>
<p>メールアドレス : <%= @user.email %></p>
<%= render "shared/follow_button", user: @user%> 
<%= link_to 'フォロー', user_followings_path(@user), class: "home" %>
<%= link_to 'フォロワー', user_followers_path(@user), class: "home" %>

<%= render "shared/footer" %>