<%= render "shared/header" %>
<div class="request-index">
  <div class="index-wrap">
    <div class="index-header">
      <%= link_to 'ルーム一覧＜＜戻る', root_path, class: "room-return-btn"%>
      <%= link_to @room.name, room_path(@room), class: "request-room-name" %>
      <%= link_to "新規リクエスト", new_room_request_path, class: "new-request_btn" %>
    </div>

    <div class="index-group">
      <%= render partial: 'shared/request', collection: @requests %>

      <% if @requests.length == 0 %>
        <ul class="request-lists">
          <li class="request-list">
            <%= link_to new_room_request_path, class:'request-link' do %>
              <div class="index-request-title">サンプルタイトル</div>
              <%= image_tag "sample.png", class:"index-done-image" %>
              <div class="index-request-user">投稿者：サンプル</div>
              <div class="index-request-content">リクエストを投稿してください</div>
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>

    <div class="index-footer">
      <%= link_to '＜＜戻る', root_path, class: "room-return-btn"%>
    </div>
  </div>
</div>
<%= render "shared/footer" %>