<%= render "shared/header" %>
<div class="request-show">
  <div class="room-return">
    <%= link_to 'ルームに戻る', room_requests_path(@request.room.id), class: "room-return-btn" %>
  </div>
  <div class="request">
    <div class='request-image-content'>
      <%= image_tag @request.image.variant(resize: '200x200'), class: 'request-image' if @request.image.attached? %>
      <% if @request.completion.present? %>
        <div class="done">
          <%= image_tag "done.png", class:"done-image" %>
        </div>
      <% end %>
    </div>
    <div class="request-user">
      <%= @request.user.nickname %>
    </div>
    <div class="request-title">
      <%= @request.title %>
    </div>
    <div class="request-content">
      <%= @request.content %>
    </div>
  </div>
  <% if @request.completion.blank? %>
    <% if current_user.id == @request.user_id %>
      <%= link_to "リクエストの編集", edit_request_path, method: :get, class: "request-edit-btn" %>
      <p class="or-text">or</p>
      <%= link_to "削除", request_path(@request.id), method: :delete, class:"request-destroy" %>
    <% else %>
      <%= form_with url: request_completions_path(@request.id), class: 'completion-form',local: true do |f| %>
        <div class='completion'>
          <%= f.submit "完了" ,class:"completion-btn" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<%= render "shared/footer" %>