<%= render "shared/header" %>

<div class="request-show">
  <div class="show-wrap">
    <div class="room-return">
      <%= link_to room_requests_path(@request.room.id), class: "room-return-btn" do %>
        <%= @request.room.name %>
        <span>＜＜戻る</span>
      <% end %>
    </div>
    <div class="show-group">
      <div class="request-title">
        <%= @request.title %>
      </div>
      <div class='request-image-content'>
        <% if @request.image.attached? %>
          <%= image_tag @request.image.variant(resize: '400x400'), class: 'request-image'%>
        <% else %>
          <%= image_tag "no_image_logo.png", class:"request-image" %>
        <% end %>
        <% if @request.completion.present? %>
          <div class="show-done">
            <%= image_tag "done.png", class:"show-done-image" %>
          </div>
        <% end %>
      </div>
      <div class="request-user">
        投稿者：<%= @request.user.nickname %>
      </div>
      <h2 class="request-content-header">＜内容＞</h2>
      <div class="request-content">
        <%= @request.content %>
      </div>
      <% if @request.completion.blank? %>
        <%= form_with url: request_completions_path(@request.id), class: 'completion-form',local: true do |f| %>
          <div class='completion'>
            <%= f.submit "完了" ,class:"completion-btn" %>
          </div>
        <% end %>
        <% if current_user.id == @request.user_id %>
          <div class="request-edit">
            <%= link_to "編集", edit_request_path(@request.id), method: :get, class: "request-edit-btn" %>
          </div>
          <p class="or-text">or</p>
        <% end %>
      <% end %>
      <% if current_user.id == @request.user_id %>
        <div class="request-destroy">
          <%= link_to "削除", request_path(@request.id), method: :delete, class:"request-destroy-btn" %>
        </div>
      <% end %>
    </div>
    <div class="comment-group">
      <h2 class="comment-header">＜コメント一覧＞</h2>
      <div class="comment">
        <% @comments.each do |comment| %>
          <div class="comment-display">
            <span class="comment-name"><%= comment.user.nickname%>：</span>
            <%= comment.text%>
            <% if current_user.id == comment.user_id %>
              <%= link_to "削除する", request_comment_path(@request, comment), method: :delete, class:"comment-destroy" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <% if @request.completion.blank? %>
        <%= form_with model: [@request, @comment],class: 'comment-form', local: true do |f|%>
          <div class='comment-text-content'>
            <%= f.text_area :text, class: "comment-text", placeholder: 'コメントを入力してください' %>
          </div>
          <div class='comment-btn-content'> 
            <%= f.submit "コメントする" ,class:"comment-btn" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= link_to '＜＜戻る', room_requests_path(@request.room.id), class: "room-return-btn"%>
  </div>
</div>

<%= render "shared/footer" %>