<%= render "shared/header" %>
<div class="request-show">
  <div class="room-return">
    <%= link_to 'ルームに戻る', room_requests_path(@request.room.id), class: "room-return-btn" %>
  </div>
  <div class="request">
    <div class='request-image-content'>
      <%= image_tag @request.image.variant(resize: '200x200'), class: 'request-image' if @request.image.attached? %>
      <% if @request.completion.present? %>
        <div class="done">
          <%= image_tag "done.png", class:"done-image" %>
        </div>
      <% end %>
    </div>
    <div class="request-user">
      <%= @request.user.nickname %>
    </div>
    <div class="request-title">
      <%= @request.title %>
    </div>
    <div class="request-content">
      <%= @request.content %>
    </div>
  </div>
  <% if @request.completion.blank? %>
    <% if current_user.id == @request.user_id %>
      <%= link_to "リクエストの編集", edit_request_path(@request.id), method: :get, class: "request-edit-btn" %>
      <p class="or-text">or</p>
      <%= link_to "削除", request_path(@request.id), method: :delete, class:"request-destroy" %>
    <% end %>
    <%= form_with url: request_completions_path(@request.id), class: 'completion-form',local: true do |f| %>
      <div class='completion'>
        <%= f.submit "完了" ,class:"completion-btn" %>
      </div>
    <% end %>
    <%= form_with model: [@request, @comment],class: 'comment-form', local: true do |f|%>
      <div class='comment-text-content'>
        <%= f.text_area :text, class: "comment-text" %>
      </div>
      <div class='comment-btn-content'> 
        <%= f.submit "コメントする" ,class:"comment-btn" %>
      </div>
    <% end %>
  <% end %>
  <h2>＜コメント一覧＞</h2>
  <div class="comment">
    <% @comments.each do |comment| %>
      <li class="comments_list">
        <div class="commment-name">
          <%= comment.user.nickname%>
        </div>
        <div class="comment-display">
          <%= comment.text%>
          <% if current_user.id == comment.user_id %>
           <%= link_to "削除", request_comment_path(@request, comment), method: :delete, class:"comment-destroy" %>
          <% end %>
        </div>
      </li>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>