<%= render "shared/header" %>
<div class="request-show">
  <div class="request">
    <%= image_tag @request.image.variant(resize: '200x200'), class: 'request-image' %>
    <div class="request-user">
      <%= @request.user.nickname %>
    </div>
    <div class="request-title">
      <%= @request.title %>
    </div>
    <div class="request-content">
      <%= @request.content %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>