<%=form_with model: @room, class: 'foom-main', local: true do |f|%>
<div class='form-text-wrap'>
        <label class='form-text'>参加メンバー</label>
        <span class="form-any">任意</span>
      </div>

        <% if @room.users.length != current_user.followings.length + 1 %>
          <% current_user.followings.each do |user| %>
            <% if !@room.users.exists?(id: user.id) %>
              <div class="check-box">
                <%= check_box_tag name="room[user_ids][]", value = user.id %>
                <%= label_tag name="room[user_ids][]" , user.nickname  %>
              </div>
            <% end %>
          <% end %>
        <%else%>
          <h3>フォロー中のユーザーは全員参加しています</h3>
        <% end %>
      </select>
      <% @room.users.each do |user|%>
        <input name="room[user_ids][]" type="hidden" value=<%= user.id %>>
      <% end %>

      <div class='foom-btn'>
          <%= f.submit 'ルーム作成', class: 'foom-red-btn'%>
          <%=link_to 'もどる', root_path, class:"back-btn" %>
      </div>
    </div>
  </div>
<% end %>
</div>