<%= render "shared/header" %>
  <div class="rooms">
    <h2 class="room-heading">ルーム一覧</h2>
    <% if current_user.rooms.present? %>
      <% current_user.rooms.each do |room| %>
        <div class="room">
          <%= link_to room_requests_path(room), class: "room-name-box" do %>
            <div class="room-name">
              <%= room.name %>
              <span class="enter-room">入室</span>
            </div>
          <%end%>
        </div>
      <% end %>
      <div class="new-room">
        <%= link_to "ルームを作成する", new_room_path, class: "new-room-btn" %>
      </div>
    <% else %>
      <div class="dummy-room">
          <%= link_to "ルームを作成してください", new_room_path, class: "dummy-room-name" %>
      </div>
    <% end %>
  </div>
<%= render "shared/footer" %>