<%= render "shared/header" %>

<%=form_with model: @room, class: 'foom-main', local: true do |f|%>
  <div class='form-wrap'>
    <h2 class="form-header">＜新規ルーム＞</h2>
    <%= render "shared/error_messages", model: f.object %>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">ルーム名</label>
        <span class="indispensable">必須</span>
      </div>
        <%= f.text_field :name, class: "input-default", placeholder: "ルーム名を入力してください" %>

      <div class='form-text-wrap'>
        <label class='form-text'>参加メンバー</label>
        <span class="form-any">任意</span>
      </div>

      <select class= "select-default" name="room[user_ids][]">
        <option value="">ユーザーを選択してください</option>
        <% User.where.not(id: current_user.id).each do |user| %>
          <option value=<%= user.id %>><%= user.nickname %></option>
        <% end %>
      </select>
      <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>

      <div class="room-form-attention">※選択しなければ自分のみのルームになります</div>
      <div class='foom-btn'>
          <%= f.submit 'ルーム作成', class: 'foom-red-btn'%>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= render "shared/footer" %>