<%= render "shared/header" %>

<%=form_with model: @room, class: 'foom-main', local: true do |f|%>
  <div class='form-wrap'>
    <h2 class="form-header">＜新規ルーム＞</h2>
    <%= render "shared/error_messages", model: f.object %>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">ルーム名</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_field :name, class: "input-default", placeholder: "ルーム名を入力してください(20文字まで)" %>

      <% if current_user.followings.present? %>
        <div class='form-text-wrap'>
          <label class='form-text'>参加メンバー</label>
          <span class="form-any">任意</span>
          <p class="form-explanation">チェックを入れてください</p>
        </div>
        <div class="check-boxes">
          <%= f.collection_check_boxes :user_ids, current_user.followings, :id, :nickname do |b| %>
            <%= b.label class:"label-check-box" do%>
              <%= b.check_box class:"check-box" %>
              <%= b.text %>
            <% end %>
          <% end %>
        </div>
        <div class="room-form-attention">※選択しなければ自分のみのルームになります</div>
      <% end %>
      <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>

      <div class='foom-btn'>
          <%= f.submit 'ルーム作成', class: 'foom-red-btn'%>
          <%=link_to 'もどる', root_path, class:"back-btn" %>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= render "shared/footer" %>