<%= render "shared/header" %>

<div class="room-show">
  <div class="show-wrap">
    <div class="show-header">
      <div class="room-return">
      <%= link_to room_requests_path(@room), class: "room-return-btn" do %>
        <%= @room.name %>
        <span>＜＜戻る</span>
      <% end %>
    </div>
    </div>
    <div class="room-show-group">
      <div class="show-contents">
        <h2 class="show-title">＜ルームメンバー＞</h2>
        <div class="room-users">
          <% @room.users.each do |user| %>
            <div class="user-show-content">
              <span class="follow-user-nickname"><%= user.nickname %></span>
              <%= render "shared/follow_button", user: user %>
            </div>
          <% end %>
        </div>
        <div class="room-invitation">
          <%= link_to 'メンバー招待', edit_room_path(@room), class: "room-invitation-btn"%>
        </div>
        <div class="room-exit">
          <% if @room.users.length > 1%>
            <%= link_to '退出する', room_user_path(@room, current_user), method: :delete, class: "room-exit-btn"%>
          <% end %>
        </div>
      </div>
  </div>
  <div class="show-footer">
    <%= link_to '＜＜戻る', root_path, class: "room-return-btn"%>
    <div class="room-delete">
      <%= link_to "ルームを削除する", room_path(@room), method: :delete, class: "room-delete_btn"%>
    </div>
  </div>
</div>

<%= render "shared/footer" %>